body{
  background-image: url('https://cdn.wallpapersafari.com/40/57/GSZUKg.jpg') ;
  color: Green;
  font-family: Calibri;
  margin: 5% 18%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  text-size-adjust: 30px;
  border-top: 3px solid #3a9340;
  border-bottom: 3px solid #3a9340;
  background-color: rgba(0,0,0, 0.1)
  
}

.ID {
  text-align: center;
  text-transform: uppercase;
color: black;
}
