body{
  background-image: url('https://previews.123rf.com/images/cluckva/cluckva1602/cluckva160200034/52224203-noise-paper-texture-.jpg') ;
  color: ;
  font-family: Calibri;
  margin: 5% 10%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid #3a9340;
  border-bottom: 3px solid #3a9340;
  background-color: rgba(0,0,0, 0.1)
  
}

.ID {
color: black;
}
